#stacks_in_1149_page58{text-align:justify}
#stacks_in_1153_page58{text-align:justify}

#stacks_in_1153_page58 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 105px 0px 105px;
	padding:  5px;
}

#stacks_in_1154_page58 {
	font-size: 80%;
}

#stacks_in_2495_page58 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_2495_page58 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_2495_page58 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_2499_page58 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_2501_page58 {
	margin: 0px 0px 0px 160px;
}
