
#stacks_in_2866_page120 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_2866_page120 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_2866_page120 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_2870_page120 {
	margin: 0px 150px 0px 0px;
}
