#stacks_in_1650_page88{text-align:justify}

#stacks_in_1652_page88 .stacks_left {
	float:left;
	width:50%;
}

#stacks_in_1652_page88 .stacks_right {
	float:right;
	width:50%;
}
#stacks_in_1666_page88 {
	border: solid #000000;
	border-width:  2px;
	margin: 40px 0px 0px 0px;
	padding:  5px;
}

#stacks_in_1667_page88 {
	font-size: 80%;
}
#stacks_in_1659_page88{text-align:justify}

#stacks_in_1661_page88 .stacks_left {
	float:left;
	width:50%;
}

#stacks_in_1661_page88 .stacks_right {
	float:right;
	width:50%;
}
#stacks_in_1657_page88 {
	border: solid #000000;
	border-width:  2px;
	margin: 40px 0px 0px 0px;
	padding:  5px;
}

#stacks_in_1658_page88 {
	font-size: 80%;
}
#stacks_in_1668_page88{text-align:justify}

#stacks_in_1670_page88 .stacks_left {
	float:left;
	width:50%;
}

#stacks_in_1670_page88 .stacks_right {
	float:right;
	width:50%;
}
#stacks_in_1675_page88 {
	border: solid #000000;
	border-width:  2px;
	margin: 40px 0px 0px 0px;
	padding:  5px;
}

#stacks_in_1676_page88 {
	font-size: 80%;
}

#stacks_in_3740_page88 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_3740_page88 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_3740_page88 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_3744_page88 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_3746_page88 {
	margin: 0px 0px 0px 160px;
}
