#stacks_in_2176_page5{text-align:justify}

#stacks_in_2182_page5 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 255px 0px 255px;
}

#stacks_in_2183_page5 {
	font-size: 80%;
}

#stacks_in_3146_page5 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_3146_page5 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_3146_page5 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_3150_page5 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_3152_page5 {
	margin: 0px 0px 0px 160px;
}
