#stacks_in_554_page31{text-align:justify}

#stacks_in_556_page31 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_556_page31 .stacks_right {
	float:right;
	width:49%;
}#stacks_in_563_page31{text-align:justify}

#stacks_in_563_page31 {
	border: solid #000000;
	border-width:  2px;
	padding:  5px;
}

#stacks_in_564_page31 {
	font-size: 80%;
}
#stacks_in_565_page31{text-align:justify}

#stacks_in_565_page31 {
	border: solid #000000;
	border-width:  2px;
	padding:  5px;
}

#stacks_in_566_page31 {
	font-size: 80%;
}

#stacks_in_2936_page31 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_2936_page31 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_2936_page31 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_2940_page31 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_2942_page31 {
	margin: 0px 0px 0px 160px;
}
