#stacks_in_2163_page107{text-align:justify}

#stacks_in_2169_page107 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 180px 0px 180px;
	padding:  5px;
}

#stacks_in_2170_page107 {
	font-size: 80%;
}

#stacks_in_4041_page107 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_4041_page107 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_4041_page107 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_4045_page107 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_4047_page107 {
	margin: 0px 0px 0px 160px;
}
