#stacks_in_1098_page54{text-align:justify}
#stacks_in_1103_page54{text-align:justify}

#stacks_in_1103_page54 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 129px 0px 130px;
	padding:  5px;
}

#stacks_in_1104_page54 {
	font-size: 80%;
}
#stacks_in_1105_page54{text-align:justify}

#stacks_in_2453_page54 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_2453_page54 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_2453_page54 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_2457_page54 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_2461_page54 {
	margin: 0px 0px 0px 160px;
}
