#stacks_in_404_page26{text-align:justify}

#stacks_in_426_page26 .stacks_left {
	float:left;
	width:21%;
}

#stacks_in_426_page26 .stacks_right {
	float:right;
	width:75%;
}
#stacks_out_429_page26 {
	width: 170px;
}
#stacks_in_438_page26{text-align:justify}

#stacks_out_438_page26 {
	width: 142px;
}

#stacks_in_438_page26 {
	border: solid #000000;
	border-width:  2px;
	padding:  5px;
}

#stacks_in_439_page26 {
	font-size: 80%;
}

#stacks_in_431_page26 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_431_page26 .stacks_right {
	float:right;
	width:49%;
}#stacks_in_440_page26{text-align:justify}

#stacks_out_440_page26 {
	width: 516px;
}

#stacks_in_440_page26 {
	border: solid #000000;
	border-width:  2px;
	padding:  5px;
}

#stacks_in_441_page26 {
	font-size: 80%;
}

#stacks_in_2896_page26 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_2896_page26 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_2896_page26 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_2900_page26 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_2902_page26 {
	margin: 0px 0px 0px 160px;
}
