

.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_4 {
	height: 40px;
}









#stacks_in_9{text-align:justify}


.spacerStack {
	height: 20px;
}

#spacerStackstacks_in_11 {
	height: 20px;
}









