#stacks_in_2149_page12{text-align:justify}

#stacks_in_81_page12 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_81_page12 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_88_page12 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_88_page12 .stacks_right {
	float:right;
	width:49%;
}
#stacks_out_95_page12 {
	width: 360px;
}
#stacks_in_462_page12{text-align:justify}

#stacks_out_462_page12 {
	width: 361px;
}

#stacks_in_462_page12 {
	border: solid #000000;
	border-width:  2px;
	padding:  5px;
}

#stacks_in_463_page12 {
	font-size: 80%;
}

#stacks_out_97_page12 {
	width: 360px;
}
#stacks_in_464_page12{text-align:justify}

#stacks_out_464_page12 {
	width: 359px;
}

#stacks_in_464_page12 {
	border: solid #000000;
	border-width:  2px;
	padding:  5px;
}

#stacks_in_465_page12 {
	font-size: 80%;
}

#stacks_in_2783_page12 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_2783_page12 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_2783_page12 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_2787_page12 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_2789_page12 {
	margin: 0px 0px 0px 160px;
}
