#stacks_in_611_page86{text-align:justify}

#stacks_in_736_page86 .stacks_left {
	float:left;
	width:65%;
}

#stacks_in_736_page86 .stacks_right {
	float:right;
	width:35%;
}
#stacks_out_739_page86 {
	width: 580px;
}
#stacks_in_741_page86{text-align:justify}

#stacks_in_741_page86 {
	border: solid #8000FF;
	border-width:  2px;
	padding:  5px;
}

#stacks_in_742_page86 {
	font-size: 80%;
}

#stacks_in_743_page86 .stacks_left {
	float:left;
	width:39%;
}

#stacks_in_743_page86 .stacks_right {
	float:right;
	width:61%;
}#stacks_in_746_page86{text-align:justify}

#stacks_out_746_page86 {
	width: 303px;
	margin-left:0;
}

#stacks_in_746_page86 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 12px 0px 15px;
	padding:  5px;
}

#stacks_in_747_page86 {
	font-size: 80%;
}
#stacks_in_748_page86{text-align:justify}

#stacks_out_748_page86 {
	width: 240px;
	margin-left:0;
}

#stacks_in_748_page86 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 9px 0px 0px;
	padding:  5px;
}

#stacks_in_749_page86 {
	font-size: 80%;
}

#stacks_in_751_page86 {
	font-weight: bold;
}
