

.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_4 {
	height: 40px;
}









#stacks_in_17{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_16 {
	height: 40px;
}









