#stacks_in_1682_page89{text-align:justify}

#stacks_in_2327_page89 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_2327_page89 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_2327_page89 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_2331_page89 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 20px 0px 20px;
	padding:  5px;
}

#stacks_in_2332_page89 {
	font-size: 80%;
}

#stacks_in_2336_page89 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 20px 0px 20px;
	padding:  5px;
}

#stacks_in_2337_page89 {
	font-size: 80%;
}

#stacks_in_2341_page89 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 20px 0px 20px;
	padding:  5px;
}

#stacks_in_2342_page89 {
	font-size: 80%;
}

#stacks_in_3750_page89 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_3750_page89 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_3750_page89 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_3754_page89 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_3756_page89 {
	margin: 0px 0px 0px 160px;
}
