
#stacks_in_2193_page28 {
	border: solid #000000;
	border-width:  2px;
	padding:  5px;
}

#stacks_in_3156_page28 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_3156_page28 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_3156_page28 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_3160_page28 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_3162_page28 {
	margin: 0px 0px 0px 160px;
}
