#stacks_in_2296_page119{text-align:justify}

#stacks_in_2298_page119 .stacks_left {
	float:left;
	width:39%;
}

#stacks_in_2298_page119 .stacks_right {
	float:right;
	width:61%;
}
#stacks_in_2303_page119 {
	border: solid #000000;
	border-width:  2px;
	padding:  5px;
}

#stacks_in_2304_page119 {
	font-size: 80%;
}

#stacks_in_2305_page119 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_2305_page119 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_2310_page119 {
	border: solid #000000;
	border-width:  2px;
	margin: 30px 0px 0px 0px;
	padding:  5px;
}
