#stacks_in_1712_page91{text-align:justify}

#stacks_in_1712_page91 {
	border: solid #000000;
	border-width:  2px;
	padding:  10px;
}

#stacks_in_3760_page91 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_3760_page91 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_3760_page91 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_3764_page91 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_3766_page91 {
	margin: 0px 0px 0px 160px;
}
