#stacks_in_793_page98{text-align:justify}

#stacks_in_795_page98 .stacks_left {
	float:left;
	width:24%;
}

#stacks_in_795_page98 .stacks_right {
	float:right;
	width:76%;
}
#stacks_in_826_page98 .stacks_left {
	float:left;
	width:31%;
}

#stacks_in_826_page98 .stacks_right {
	float:right;
	width:31%;
}

#stacks_in_826_page98 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:34%;
}
#stacks_in_826_page98 {
	border: solid #000000;
	border-width:  2px;
}
#stacks_in_802_page98{text-align:justify}

#stacks_in_802_page98 {
	border: solid #000000;
	border-width:  2px;
	padding:  5px;
}

#stacks_in_803_page98 {
	font-size: 80%;
}
#stacks_in_804_page98{text-align:justify}

#stacks_in_806_page98 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_806_page98 .stacks_right {
	float:right;
	width:49%;
}#stacks_in_815_page98{text-align:justify}

#stacks_out_815_page98 {
	width: 679px;
}

#stacks_in_815_page98 {
	border: solid #000000;
	border-width:  2px;
	padding:  5px;
}

#stacks_in_816_page98 {
	font-size: 80%;
}
