

.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_4 {
	height: 40px;
}









#stacks_in_11{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_7 {
	height: 40px;
}









