#stacks_in_611_page36{text-align:justify}

#stacks_in_736_page36 .stacks_left {
	float:left;
	width:65%;
}

#stacks_in_736_page36 .stacks_right {
	float:right;
	width:35%;
}
#stacks_out_739_page36 {
	width: 580px;
}
#stacks_in_741_page36{text-align:justify}

#stacks_in_741_page36 {
	border: solid #8000FF;
	border-width:  2px;
	padding:  5px;
}

#stacks_in_742_page36 {
	font-size: 80%;
}

#stacks_in_743_page36 .stacks_left {
	float:left;
	width:39%;
}

#stacks_in_743_page36 .stacks_right {
	float:right;
	width:61%;
}#stacks_in_746_page36{text-align:justify}

#stacks_out_746_page36 {
	width: 303px;
	margin-left:0;
}

#stacks_in_746_page36 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 12px 0px 15px;
	padding:  5px;
}

#stacks_in_747_page36 {
	font-size: 80%;
}
#stacks_in_748_page36{text-align:justify}

#stacks_out_748_page36 {
	width: 240px;
	margin-left:0;
}

#stacks_in_748_page36 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 0px 0px 5px;
	padding:  5px;
}

#stacks_in_749_page36 {
	font-size: 80%;
}

#stacks_in_3019_page36 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_3019_page36 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_3019_page36 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_3023_page36 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_3025_page36 {
	margin: 0px 0px 0px 160px;
}
