#stacks_in_755_page37{text-align:justify}

#stacks_in_757_page37 .stacks_left {
	float:left;
	width:68%;
}

#stacks_in_757_page37 .stacks_right {
	float:right;
	width:32%;
}#stacks_in_762_page37{text-align:justify}

#stacks_in_762_page37 {
	border: solid #000000;
	border-width:  2px;
	padding:  5px;
}

#stacks_in_763_page37 {
	font-size: 80%;
}

#stacks_in_3029_page37 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_3029_page37 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_3029_page37 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_3033_page37 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_3035_page37 {
	margin: 0px 0px 0px 160px;
}
