#stacks_in_1434_page73{text-align:justify}

#stacks_in_1440_page73 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 255px 0px 255px;
	padding:  5px;
}

#stacks_in_1441_page73 {
	font-size: 80%;
}

#stacks_in_3186_page73 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_3186_page73 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_3186_page73 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_3190_page73 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_3192_page73 {
	margin: 0px 0px 0px 160px;
}
