#stacks_in_592_page34{text-align:justify}

#stacks_in_594_page34 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_594_page34 .stacks_right {
	float:right;
	width:49%;
}#stacks_in_601_page34{text-align:justify}

#stacks_out_601_page34 {
	width: 402px;
}

#stacks_in_601_page34 {
	border: solid #000000;
	border-width:  2px;
	padding:  5px;
}

#stacks_in_602_page34 {
	font-size: 80%;
}
#stacks_in_603_page34{text-align:justify}

#stacks_out_603_page34 {
	width: 357px;
}

#stacks_in_603_page34 {
	border: solid #000000;
	border-width:  2px;
	padding:  5px;
}

#stacks_in_604_page34 {
	font-size: 80%;
}
