

.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_4 {
	height: 40px;
}











.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_7 {
	height: 40px;
}









#stacks_in_10{text-align:justify}
