#stacks_in_1484_page78{text-align:justify}

#stacks_in_1490_page78 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 250px 0px 250px;
}

#stacks_in_1491_page78 {
	font-size: 80%;
}

#stacks_in_2987_page78 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_2987_page78 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_2987_page78 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_2991_page78 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_2993_page78 {
	margin: 0px 0px 0px 160px;
}
