#stacks_in_1354_page69{text-align:justify}

#stacks_in_1356_page69 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_1356_page69 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_1361_page69 {
	border: solid #000000;
	border-width:  2px;
	margin: 70px 0px 0px 0px;
	padding:  5px;
}

#stacks_in_1362_page69 {
	font-size: 80%;
}

#stacks_in_3132_page69 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_3132_page69 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_3132_page69 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_3136_page69 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_3138_page69 {
	margin: 0px 0px 0px 160px;
}
