#stacks_in_1574_page84{text-align:justify}

#stacks_in_1576_page84 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_1576_page84 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_1576_page84 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_1590_page84 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 5px 0px 5px;
	padding:  5px;
}

#stacks_in_1591_page84 {
	font-size: 80%;
}

#stacks_in_1584_page84 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 5px 0px 5px;
	padding:  5px;
}

#stacks_in_1585_page84 {
	font-size: 80%;
}

#stacks_in_1586_page84 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 5px 0px 5px;
	padding:  5px;
}

#stacks_in_1587_page84 {
	font-size: 80%;
}

#stacks_in_3241_page84 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_3241_page84 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_3241_page84 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_3245_page84 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_3247_page84 {
	margin: 0px 0px 0px 160px;
}
