#stacks_in_1867_page94{text-align:justify}

#stacks_in_1873_page94 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 205px 0px 205px;
	padding:  5px;
}

#stacks_in_1874_page94 {
	font-size: 80%;
}
#stacks_in_1875_page94{text-align:justify}

#stacks_in_2609_page94 {
	margin:  2px;
	padding:  10px;
}
