

.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_17 {
	height: 40px;
}









#stacks_in_18{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_20 {
	height: 40px;
}









