#stacks_in_447_page27{text-align:justify}

#stacks_in_449_page27 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_449_page27 .stacks_right {
	float:right;
	width:49%;
}
#stacks_out_454_page27 {
	width: 82%;
}
#stacks_in_458_page27{text-align:justify}

#stacks_out_458_page27 {
	width: 290px;
}

#stacks_in_458_page27 {
	border: solid #000000;
	border-width:  2px;
	padding:  5px;
}

#stacks_in_459_page27 {
	font-size: 80%;
}
#stacks_in_460_page27{text-align:justify}

#stacks_out_460_page27 {
	width: 363px;
}

#stacks_in_460_page27 {
	border: solid #000000;
	border-width:  2px;
	padding:  5px;
}

#stacks_in_461_page27 {
	font-size: 80%;
}

#stacks_in_2205_page27 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_2205_page27 .stacks_right {
	float:right;
	width:49%;
}#stacks_in_2209_page27{text-align:justify}

#stacks_out_2209_page27 {
	width: 370px;
}

#stacks_in_2209_page27 {
	border: solid #000000;
	border-width:  2px;
	padding:  5px;
}

#stacks_in_2210_page27 {
	font-size: 80%;
}
#stacks_in_2214_page27{text-align:justify}

#stacks_out_2214_page27 {
	width: 385px;
}

#stacks_in_2214_page27 {
	border: solid #000000;
	border-width:  2px;
	padding:  5px;
}

#stacks_in_2215_page27 {
	font-size: 80%;
}

#stacks_in_2906_page27 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_2906_page27 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_2906_page27 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_2910_page27 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_2912_page27 {
	margin: 0px 0px 0px 160px;
}
