#stacks_in_129_page16{text-align:justify}

#stacks_in_131_page16 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_131_page16 .stacks_right {
	float:right;
	width:49%;
}#stacks_in_470_page16{text-align:justify}

#stacks_in_470_page16 {
	border: solid #000000;
	border-width:  2px;
	padding:  5px;
}

#stacks_in_471_page16 {
	font-size: 80%;
}

#stacks_in_2803_page16 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_2803_page16 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_2803_page16 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_2807_page16 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_2809_page16 {
	margin: 0px 0px 0px 160px;
}
