#stacks_in_1158_page60{text-align:justify}
#stacks_in_1162_page60{text-align:justify}

#stacks_in_1162_page60 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 106px 0px 106px;
	padding:  5px;
}

#stacks_in_1163_page60 {
	font-size: 80%;
}

#stacks_in_2515_page60 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_2515_page60 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_2515_page60 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_2519_page60 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_2521_page60 {
	margin: 0px 0px 0px 160px;
}
