

.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_4 {
	height: 40px;
}









#stacks_in_14{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_9 {
	height: 40px;
}









#stacks_in_16{text-align:justify}
