#stacks_in_4152_page118{text-align:justify}
#stacks_in_4158_page118{text-align:justify}

#stacks_in_4158_page118 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 230px 0px 230px;
	padding:  5px;
}

#stacks_in_4159_page118 {
	font-size: 80%;
}
#stacks_in_4164_page118{text-align:justify}

#stacks_in_4164_page118 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 230px 0px 230px;
	padding:  5px;
}

#stacks_in_4165_page118 {
	font-size: 80%;
}
