

.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_12 {
	height: 40px;
}









#stacks_in_13{text-align:justify}
#stacks_in_15{text-align:justify}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_20 {
	height: 40px;
}









#stacks_in_17>.s3_row {
	margin: 0 -10px;
}

#stacks_in_17>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_17>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_17>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_17>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_17>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}





#stacks_in_25{text-align:justify}


.spacerStack {
	height: 100px;
}

#spacerStackstacks_in_27 {
	height: 100px;
}









#stacks_in_23{text-align:justify}
