#stacks_in_883_page80{text-align:justify}

#stacks_in_885_page80 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_885_page80 .stacks_right {
	float:right;
	width:51%;
}#stacks_in_894_page80{text-align:justify}

#stacks_out_894_page80 {
	width: 760px;
}

#stacks_in_894_page80 {
	border: solid #000000;
	margin: 0px 0px 0px 0px;
	border-width:  2px;
	padding:  5px;
}

#stacks_in_895_page80 {
	font-size: 80%;
}
#stacks_in_909_page80{text-align:justify}

#stacks_in_910_page80 {
	font-weight: bold;
}
