#stacks_in_1055_page51{text-align:justify}

#stacks_in_1057_page51 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_1057_page51 .stacks_right {
	float:right;
	width:49%;
}#stacks_in_1062_page51{text-align:justify}

#stacks_in_1062_page51 {
	border: solid #000000;
	border-width:  2px;
	padding:  5px;
}

#stacks_in_1063_page51 {
	font-size: 80%;
}
#stacks_in_7965_page51{text-align:justify}
#stacks_in_7971_page51{text-align:justify}

#stacks_in_7971_page51 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 0px 0px 25px;
	padding: 5px 25px 0px 5px;
}

#stacks_in_7972_page51 {
	font-size: 80%;
}

#stacks_in_1080_page51 {
	font-weight: bold;
}
