#stacks_in_2025_page103{text-align:justify}

#stacks_in_2031_page103 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 180px 0px 180px;
	padding:  5px;
}

#stacks_in_2032_page103 {
	font-size: 80%;
}

#stacks_in_4001_page103 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_4001_page103 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_4001_page103 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_4005_page103 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_4007_page103 {
	margin: 0px 0px 0px 160px;
}
