#stacks_in_1595_page85{text-align:justify}

#stacks_in_2238_page85 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_2238_page85 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_2243_page85 {
	border: solid #000000;
	border-width:  2px;
	margin: 131px 22px 0px 0px;
	padding:  5px;
}

#stacks_in_2244_page85 {
	font-size: 80%;
}

#stacks_in_2275_page85 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 155px 0px 155px;
	padding:  5px;
}

#stacks_in_2276_page85 {
	font-size: 80%;
}

#stacks_in_3251_page85 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_3251_page85 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_3251_page85 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_3255_page85 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_3257_page85 {
	margin: 0px 0px 0px 160px;
}
