#stacks_in_1412_page71{text-align:justify}

#stacks_in_1418_page71 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 255px 0px 255px;
	padding:  5px;
}

#stacks_in_1419_page71 {
	font-size: 80%;
}

#stacks_in_3166_page71 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_3166_page71 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_3166_page71 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_3170_page71 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_3172_page71 {
	margin: 0px 0px 0px 160px;
}
