#stacks_in_1082_page53{text-align:justify}

#stacks_in_1084_page53 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_1084_page53 .stacks_right {
	float:right;
	width:49%;
}#stacks_in_1087_page53{text-align:justify}

#stacks_in_1087_page53 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 23px 0px 92px;
	padding:  5px;
}

#stacks_in_1088_page53 {
	font-size: 80%;
}
#stacks_in_1095_page53{text-align:justify}

#stacks_in_1090_page53 {
	font-weight: bold;
}
