#stacks_in_143_page17{text-align:justify}

#stacks_in_145_page17 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_145_page17 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_152_page17 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_152_page17 .stacks_right {
	float:right;
	width:49%;
}#stacks_in_472_page17{text-align:justify}

#stacks_out_472_page17 {
	width: 364px;
}

#stacks_in_472_page17 {
	border: solid #000000;
	border-width:  2px;
	padding:  5px;
}

#stacks_in_473_page17 {
	font-size: 80%;
}
#stacks_in_474_page17{text-align:justify}

#stacks_out_474_page17 {
	width: 342px;
}

#stacks_in_474_page17 {
	border: solid #000000;
	border-width:  2px;
	padding:  5px;
}

#stacks_in_475_page17 {
	font-size: 80%;
}

#stacks_in_2813_page17 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_2813_page17 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_2813_page17 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_2817_page17 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_2819_page17 {
	margin: 0px 0px 0px 160px;
}
