#stacks_in_1140_page57{text-align:justify}
#stacks_in_1144_page57{text-align:justify}

#stacks_in_1144_page57 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 130px 0px 130px;
	padding:  5px;
}

#stacks_in_1145_page57 {
	font-size: 80%;
}

#stacks_in_2485_page57 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_2485_page57 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_2485_page57 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_2489_page57 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_2491_page57 {
	margin: 0px 0px 0px 160px;
}
