
.stacks_left {
	float:left;
}

.stacks_row {
	overflow:hidden;
	margin:0 auto;
}
#stacks_in_1180_page61 .stacks_left {
	width:200px;
}

#stacks_in_1180_page61 .stacks_row {
	width:600px;
}
#stacks_in_1196_page61 {
	background-color: #3F6BAD;
	margin:  3px;
	padding:  5px;
}

#stacks_in_1198_page61 {
	background-color: #3F6BAD;
	margin:  3px;
	padding:  5px;
}

#stacks_in_1200_page61 {
	background-color: #3F6BAD;
	margin:  3px;
	padding:  5px;
}

#stacks_in_1202_page61 {
	background-color: #C5CFE3;
	margin:  3px;
	padding:  5px;
}

#stacks_in_1204_page61 {
	background-color: #C5CFE3;
	margin:  3px;
	padding:  5px;
}

#stacks_in_1206_page61 {
	background-color: #C5CFE3;
	margin:  3px;
	padding:  5px;
}

#stacks_in_1208_page61 {
	background-color: #E4E9F1;
	margin:  3px;
	padding:  5px;
}

#stacks_in_1218_page61 {
	background-color: #E4E9F1;
	margin:  3px;
	padding:  5px;
}

#stacks_in_1216_page61 {
	background-color: #E4E9F1;
	margin:  3px;
	padding:  5px;
}

#stacks_in_1210_page61 {
	background-color: #C5CFE3;
	margin:  3px;
	padding:  5px;
}

#stacks_in_1212_page61 {
	background-color: #C5CFE3;
	margin:  3px;
	padding:  5px;
}

#stacks_in_1214_page61 {
	background-color: #C5CFE3;
	margin:  3px;
	padding:  5px;
}

#stacks_in_2525_page61 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_2525_page61 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_2525_page61 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_2529_page61 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_2531_page61 {
	margin: 0px 0px 0px 160px;
}
