#stacks_in_837_page40{text-align:justify}

#stacks_in_871_page40 .stacks_left {
	float:left;
	width:56%;
}

#stacks_in_871_page40 .stacks_right {
	float:right;
	width:44%;
}#stacks_in_876_page40{text-align:justify}

#stacks_in_876_page40 {
	border: solid #000000;
	border-width:  2px;
	padding:  5px;
}

#stacks_in_877_page40 {
	font-size: 80%;
}

#stacks_in_861_page40 .stacks_left {
	float:left;
	width:31%;
}

#stacks_in_861_page40 .stacks_right {
	float:right;
	width:31%;
}

#stacks_in_861_page40 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:34%;
}
#stacks_out_865_page40 {
	width: 300px;
}
#stacks_in_869_page40{text-align:justify}

#stacks_in_869_page40 {
	border: solid #000000;
	border-width:  2px;
	padding:  5px;
}

#stacks_in_870_page40 {
	font-size: 80%;
}

#stacks_in_3059_page40 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_3059_page40 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_3059_page40 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_3063_page40 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_3065_page40 {
	margin: 0px 0px 0px 160px;
}
