

.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_4 {
	height: 40px;
}











.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_12 {
	height: 40px;
}









#stacks_in_17{text-align:justify}
