#stacks_in_1625_page87{text-align:justify}

#stacks_in_1627_page87 .stacks_left {
	float:left;
	width:50%;
}

#stacks_in_1627_page87 .stacks_right {
	float:right;
	width:50%;
}
#stacks_in_1632_page87 {
	border: solid #000000;
	border-width:  2px;
	margin: 185px 30px 0px 0px;
	padding:  5px;
}

#stacks_in_1633_page87 {
	font-size: 80%;
}
#stacks_in_1634_page87{text-align:justify}

#stacks_in_1636_page87 .stacks_left {
	float:left;
	width:50%;
}

#stacks_in_1636_page87 .stacks_right {
	float:right;
	width:50%;
}
#stacks_in_1643_page87 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 45px 0px 45px;
	padding:  5px;
}

#stacks_in_1644_page87 {
	font-size: 80%;
}

#stacks_in_1647_page87 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 39px 0px 39px;
	padding:  5px;
}

#stacks_in_1648_page87 {
	font-size: 80%;
}

#stacks_in_3714_page87 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_3714_page87 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_3714_page87 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_3718_page87 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_3720_page87 {
	margin: 0px 0px 0px 160px;
}
