#stacks_in_1129_page56{text-align:justify}
#stacks_in_1135_page56{text-align:justify}

#stacks_in_1135_page56 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 130px 0px 130px;
	padding:  5px;
}

#stacks_in_1136_page56 {
	font-size: 80%;
}

#stacks_in_2475_page56 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_2475_page56 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_2475_page56 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_2479_page56 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_2483_page56 {
	margin: 0px 0px 0px 160px;
}
