#stacks_in_930_page44{text-align:justify}

#stacks_in_932_page44 .stacks_left {
	float:left;
	width:34%;
}

#stacks_in_932_page44 .stacks_right {
	float:right;
	width:66%;
}#stacks_in_937_page44{text-align:justify}

#stacks_out_937_page44 {
	width: 470px;
}

#stacks_in_938_page44 {
	font-size: 80%;
}
#stacks_in_2357_page44{text-align:justify}

#stacks_in_2381_page44 .stacks_left {
	float:left;
	width:59%;
}

#stacks_in_2381_page44 .stacks_right {
	float:right;
	width:41%;
}
#stacks_in_3099_page44 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_3099_page44 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_3099_page44 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_3103_page44 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_3105_page44 {
	margin: 0px 0px 0px 160px;
}
