#stacks_in_2000_page101{text-align:justify}

#stacks_in_2006_page101 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 180px 0px 180px;
	padding:  5px;
}

#stacks_in_2007_page101 {
	font-size: 80%;
}

#stacks_in_3981_page101 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_3981_page101 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_3981_page101 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_3985_page101 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_3987_page101 {
	margin: 0px 0px 0px 160px;
}
