#stacks_in_1903_page97{text-align:justify}

#stacks_in_2265_page97 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_2265_page97 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_2267_page97 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 6px 0px 160px;
	padding:  5px;
}

#stacks_in_2268_page97 {
	font-size: 80%;
}

#stacks_in_2270_page97 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 164px 0px 4px;
	padding:  5px;
}

#stacks_in_2277_page97 {
	font-size: 80%;
}

#stacks_in_3868_page97 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_3868_page97 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_3868_page97 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_3872_page97 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_3874_page97 {
	margin: 0px 0px 0px 160px;
}
