#stacks_in_1354_page122{text-align:justify}

#stacks_in_1356_page122 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_1356_page122 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_1361_page122 {
	border: solid #000000;
	border-width:  2px;
	margin: 70px 0px 0px 0px;
	padding:  5px;
}

#stacks_in_1362_page122 {
	font-size: 80%;
}
