#stacks_in_1334_page68{text-align:justify}

#stacks_in_1340_page68 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 230px 0px 230px;
	padding:  5px;
}

#stacks_in_1341_page68 {
	font-size: 80%;
}
#stacks_in_1342_page68{text-align:justify}

#stacks_in_1344_page68 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_1344_page68 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_1349_page68 {
	border: solid #000000;
	border-width:  2px;
	margin: 100px 0px 0px 0px;
	padding:  5px;
}

#stacks_in_1350_page68 {
	font-size: 80%;
}

#stacks_in_2254_page68 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_2254_page68 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_2254_page68 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_2258_page68 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_2260_page68 {
	margin: 0px 0px 0px 160px;
}
