#stacks_in_767_page38{text-align:justify}
#stacks_in_773_page38{text-align:justify}

#stacks_in_773_page38 {
	border: solid #000000;
	border-width:  2px;
	padding:  5px;
}

#stacks_in_774_page38 {
	font-size: 80%;
}

#stacks_in_775_page38 .stacks_left {
	float:left;
	width:29%;
}

#stacks_in_775_page38 .stacks_right {
	float:right;
	width:69%;
}#stacks_in_782_page38{text-align:justify}

#stacks_out_782_page38 {
	width: 207px;
}

#stacks_in_782_page38 {
	border: solid #000000;
	border-width:  2px;
	padding:  5px;
}

#stacks_in_783_page38 {
	font-size: 80%;
}
#stacks_in_786_page38{text-align:justify}

#stacks_out_786_page38 {
	width: 340px;
}

#stacks_in_786_page38 {
	border: solid #000000;
	border-width:  2px;
	padding:  5px;
}

#stacks_in_787_page38 {
	font-size: 80%;
}

#stacks_in_3039_page38 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_3039_page38 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_3039_page38 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_3043_page38 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_3045_page38 {
	margin: 0px 0px 0px 160px;
}
