
#stacks_in_7953_page70 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_7953_page70 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_7953_page70 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_7957_page70 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_7959_page70 {
	margin: 0px 0px 0px 160px;
}
