#stacks_in_55_page13{text-align:justify}

#stacks_in_56_page13 {
	line-height: 1.780000em;
}

#stacks_in_2725_page13 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_2725_page13 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_2725_page13 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_2729_page13 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_2731_page13 {
	margin: 0px 0px 0px 160px;
}
