#stacks_in_164_page15{text-align:justify}

#stacks_in_164_page15 {
	border: solid #000000;
	border-width:  2px;
	-moz-border-radius:  5px;
	-webkit-border-radius:  5px;
	border-radius:  5px;
	margin:  10px;
	padding:  10px;
}

#stacks_in_2823_page15 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_2823_page15 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_2823_page15 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_2827_page15 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_2829_page15 {
	margin: 0px 0px 0px 160px;
}
