#stacks_in_213_page20{text-align:justify}

#stacks_in_215_page20 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_215_page20 .stacks_right {
	float:right;
	width:49%;
}#stacks_in_484_page20{text-align:justify}

#stacks_in_484_page20 {
	border: solid #000000;
	border-width:  2px;
	padding:  5px;
}

#stacks_in_485_page20 {
	font-size: 80%;
}

#stacks_in_2853_page20 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_2853_page20 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_2853_page20 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_2857_page20 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_2859_page20 {
	margin: 0px 0px 0px 160px;
}
