#stacks_in_1558_page83{text-align:justify}

#stacks_in_1563_page83 {
	padding:  1px;
}

#stacks_in_1569_page83 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 280px 0px 280px;
	padding:  5px;
}

#stacks_in_1570_page83 {
	font-size: 80%;
}

#stacks_in_3231_page83 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_3231_page83 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_3231_page83 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_3235_page83 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_3237_page83 {
	margin: 0px 0px 0px 160px;
}
