
#stacks_in_3773_page117 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_3773_page117 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_3773_page117 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_3777_page117 {
	margin: 0px 150px 0px 0px;
}
