#stacks_in_1495_page79{text-align:justify}

#stacks_in_1521_page79 {
	border: solid #000000;
	border-width:  2px;
	margin:  15px;
	padding:  5px;
}
#stacks_in_1523_page79{text-align:justify}

#stacks_in_1497_page79 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_1497_page79 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_1497_page79 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_1513_page79 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 13px 0px 13px;
	padding:  5px;
}

#stacks_in_1514_page79 {
	font-size: 80%;
}

#stacks_in_1505_page79 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 12px 0px 12px;
	padding:  5px;
}

#stacks_in_1506_page79 {
	font-size: 80%;
}

#stacks_in_1515_page79 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 11px 0px 12px;
	padding:  5px;
}

#stacks_in_1516_page79 {
	font-size: 80%;
}

#stacks_in_2997_page79 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_2997_page79 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_2997_page79 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_3001_page79 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_3003_page79 {
	margin: 0px 0px 0px 160px;
}
