
#stacks_in_1447_page74 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_1447_page74 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_1447_page74 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_1457_page74 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 36px 0px 36px;
	padding:  5px;
}

#stacks_in_1458_page74 {
	font-size: 80%;
}

#stacks_in_1461_page74 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 36px 0px 36px;
	padding:  5px;
}

#stacks_in_1462_page74 {
	font-size: 80%;
}

#stacks_in_1459_page74 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 36px 0px 36px;
	padding:  5px;
}

#stacks_in_1460_page74 {
	font-size: 80%;
}

#stacks_in_3196_page74 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_3196_page74 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_3196_page74 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_3200_page74 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_3202_page74 {
	margin: 0px 0px 0px 160px;
}
