#stacks_in_958_page46{text-align:justify}

#stacks_in_958_page46 {
	border: solid #000000;
	border-width:  2px;
	padding:  5px;
}

#stacks_in_3109_page46 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_3109_page46 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_3109_page46 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_3113_page46 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_3115_page46 {
	margin: 0px 0px 0px 160px;
}
