#stacks_in_4152_page121{text-align:justify}


.spacerStack {
	height: 25px;
}

#spacerStackstacks_in_4217_page121 {
	height: 25px;
}













table.tablestacks_in_4369_page121 {
    border-collapse: collapse;
}
td.colstacks_in_4369_page121, th.colstacks_in_4369_page121 {
  border: 1px solid #FFFFFF;
}

th.colstacks_in_4369_page121 {
    background: #3F6CAF;
    color: #FFFFFF;
    font-weight: bold;
}

#stacks_in_4369_page121 {
	background-color: #C9D7EA;
	border: solid #000000;
	border-width:  2px;
}

#stacks_in_4383_page121 {
	line-height: 2em;
	font-size: 95%;
}

#stacks_in_4386_page121 {
	line-height: 2em;
}

#stacks_in_4389_page121 {
	line-height: 2em;
}

#stacks_in_4392_page121 {
	line-height: 2em;
}

#stacks_in_4395_page121 {
	line-height: 2em;
}

#stacks_in_4398_page121 {
	line-height: 2em;
}

#stacks_in_4401_page121 {
	line-height: 2em;
}

#stacks_in_4407_page121 {
	line-height: 2em;
	font-size: 95%;
}

#stacks_in_4410_page121 {
	line-height: 2em;
}

#stacks_in_4413_page121 {
	line-height: 2em;
}

#stacks_in_4416_page121 {
	line-height: 2em;
}

#stacks_in_4419_page121 {
	line-height: 2em;
}

#stacks_in_4422_page121 {
	line-height: 2em;
}

#stacks_in_4425_page121 {
	line-height: 2em;
}

#stacks_in_4431_page121 {
	line-height: 2em;
	font-size: 95%;
}

#stacks_in_4434_page121 {
	line-height: 2em;
}

#stacks_in_4437_page121 {
	line-height: 2em;
}

#stacks_in_4455_page121 {
	font-size: 95%;
}

#stacks_in_4479_page121 {
	font-size: 95%;
}

#stacks_in_4503_page121 {
	font-size: 95%;
}

#stacks_in_4506_page121 {
	line-height: 2em;
}

#stacks_in_4509_page121 {
	line-height: 2em;
}

#stacks_in_4512_page121 {
	line-height: 2em;
}

#stacks_in_4515_page121 {
	line-height: 2em;
}

#stacks_in_4518_page121 {
	line-height: 2em;
}

#stacks_in_4521_page121 {
	line-height: 2em;
}


.spacerStack {
	height: 40px;
}

#spacerStackstacks_in_4690_page121 {
	height: 40px;
}













#stacks_in_4195_page121 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_4195_page121 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_4195_page121 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}

.spacerStack {
	height: 10px;
}

#spacerStackstacks_in_4691_page121 {
	height: 10px;
}












#stacks_in_4211_page121{text-align:justify}

#stacks_in_4211_page121 {
	border: solid #000000;
	border-width:  2px;
	margin: 0px 17px 0px 0px;
	padding:  5px;
}

#stacks_in_4212_page121 {
	font-size: 80%;
}
