
#stacks_in_3007_page81 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_3007_page81 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_3007_page81 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_3011_page81 {
	margin: 0px 150px 0px 0px;
}
