#stacks_in_501_page29{text-align:justify}

#stacks_in_503_page29 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_503_page29 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_503_page29 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}#stacks_in_513_page29{text-align:justify}

#stacks_out_513_page29 {
	width: 250px;
}

#stacks_in_513_page29 {
	border: solid #000000;
	border-width:  2px;
	padding:  5px;
}

#stacks_in_514_page29 {
	font-size: 80%;
}
#stacks_in_517_page29{text-align:justify}

#stacks_out_517_page29 {
	width: 260px;
}

#stacks_in_517_page29 {
	border: solid #000000;
	border-width:  2px;
	padding:  5px;
}

#stacks_in_518_page29 {
	font-size: 80%;
}
#stacks_in_515_page29{text-align:justify}

#stacks_out_515_page29 {
	width: 260px;
}

#stacks_in_515_page29 {
	border: solid #000000;
	border-width:  2px;
	padding:  5px;
}

#stacks_in_516_page29 {
	font-size: 80%;
}

#stacks_in_2916_page29 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_2916_page29 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_2916_page29 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_2920_page29 {
	margin: 0px 150px 0px 0px;
}

#stacks_in_2922_page29 {
	margin: 0px 0px 0px 160px;
}
